.DS_Store
.overmind.sock
.pryrc
.solargraph.yml
*.chback
.rspec
.bundle
.versions.conf
.ruby-gemset
.ruby-version
.envrc
.nvmrc
.tool-versions
mise.toml

# Sublime
*.sublime-project
*.sublime-workspace

# VS code
.vscode
*.code-workspace

# Vim
.agignore
.tags
.gemtags
tags
.tags_sorted_by_file
fish/conf.d/custom.fish

Brewfile.lock.json
.aider*
.claude

# Zed
.zed
